<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why, Ye?</title>
    <meta type="description" content="Get a random quote from your favorite icons." />
    <link rel="stylesheet" type="text/css" href="/static/index.css"/>
    {{ if .AnalyticsSrc }}
    <script 
      defer 
      src="{{ .AnalyticsSrc }}" 
      data-website-id="{{ .AnalyticsId }}"
      data-host-url="{{ .AnalyticsHost }}"
    >
    </script>
    {{ end }}
  </head>

  <body>
    <main>
      <section class="container container--hero">
        <h1>Why, Ye?</h1>
        <p>The best quotes from your favorite icons on the internet.</p>
      </section>

      <section class="container container--form">
          <form method="GET" id="form--name">
              <select name="user_id" id="user_id">
                  <!-- render users list from db -->
                  {{ range .Users }}
                      {{ if eq $.UserId .ID }}
                      <option value="{{ .ID }}" selected="true">{{ .Name }}</option>
                      {{ else }}
                          <option value="{{ .ID }}">{{ .Name }}</option>
                      {{ end }}
                  {{ end }}
              </select>
              <button 
                type="submit" 
                data-umami-event="get-quote"
                {{ if .UserId }}
                data-umami-event-userid="{{ .UserId }}"
                data-umami-event-quote="{{ .Quote }}"
                {{ end}}
              >
                Get Random Quote
              </button>
          </form>

        <div class="container container--quote">
          <!-- display random quote -->
          <h2 id="message">{{ .Quote }}</h2>
        </div>
      </section>
    </main>

    <footer>
      <div>
        <small>
          Powered by <a href="https://go.dev">golang</a>, <a href="https://api.kanye.rest">kanye.rest</a>, and an insatiable curiosity. Hosted on <a href="https://render.com">Render</a>
        </small>
      </div>
      <div>
        <small>
          Copy it all you want. Idc. {{ .Year }}&#169;
        </small>
      </div>
    </footer>

    <script src="/static/index.js"></script>
  </body>
</html>
